# ====================================================================
# Build Outputs
# ====================================================================
target/
*.war
*.jar
*.ear

# ====================================================================
# Java / JVM Crash Logs
# ====================================================================
hs_err_pid*
replay_pid*

# ====================================================================
# VisualVM / Profiler Profiling Data
# ====================================================================
.attach_pid*